.card-table{
    padding: 0;

    mat-toolbar-row {
    background: #efd673;
}
mat-paginator{
    background: #efd673;
}
} 

.imageHeader {
    width: 50px;
    border-radius: 50%;
    height: 50px;
}


  



//tes

//  


/**Margin and padding utilities*/
