.admin-picture {
  width: 40px;
  min-width: 40px;
  height: 40px;
  line-height: 40px;
  margin: 0 8px 0 0;
  margin-right: 8px;
  border-radius: 50%;
  font-size: 17px;
  font-weight: 600;
  text-align: center;
}
.App-name {
  font-size: 64px;
  font-weight: 200;
  color: #efd673;
  padding-top: 23px;
}

