<h1 mat-dialog-title>Modify jounney</h1>

<div mat-dialog-content>
  <form [formGroup]="form" fxLayout="column">
   <div>
    <div fxLayoutAlign="center center" style="margin-bottom: 1rem">
        <span style="font-size: large;">username :</span>
          <span
            style="text-align: center;
            font-size: larger;
            font-weight: bold;
            color: #d9b219;
            margin-left: 1rem;">
            {{ data.row.name  |uppercase }}</span>
    
      </div>
   </div>
    <mat-form-field class="w-100" appearance="outline">
      <mat-label><em>Amount</em></mat-label>
      <input
      appNumberOnly
      numericType="decimal"
        matInput
        formControlName="montant"
        type="number"/>
    </mat-form-field>


    <mat-form-field class="w-100" appearance="outline">
      <mat-label><em>Motif</em></mat-label>
      <input
        matInput
        formControlName="motif"
        type="text"/>
    </mat-form-field>


  </form>
</div>
<div mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Annuler</button>
  <button mat-button color="primary" (click)="addJourney()">Modify</button>
</div>
