<div class="nav-container" fxLayout="column" style="width: 220px;">
  <mat-nav-list class="h-100">
    <mat-list-item class="test"
      fxLayout="row"
      fxLayoutAlign="start center"
      [routerLink]="[item.link]"
      routerLinkActive="active"
      *ngFor="let item of dashboardLink">
      <mat-icon  class="navigationIcon" style=" " mat-list-icon>
        {{item.icon}}</mat-icon>
      <div mat-list-text class="mat-body-2">
        <span class="navigationItem" >{{
          item.label
        }}</span>
      </div>
    </mat-list-item>
  </mat-nav-list>
</div>
