:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  .app-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    .app-bar {
      position: fixed;
      z-index: 2;
      width: 100%;
    }
    .sidenav-container {
      position: absolute;
      top: 70px;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: #2b2d42;
      .sidenav {
        border: none;
        background-color: #2b2d42;
        width: 220px;
        overflow: hidden;
      }
      .sidenav-content {
        border-top-left-radius: 20px;
        padding: 20px 20px 0px 20px;
        background-color: #edf2f4;
        z-index: 2;
      }
    }
  }
}
.admin-picture {
  width: 180px;
  height: 88px;
  padding-left: 11px;

}

.mat-sidenav {
 overflow: hidden !important;
}