example-card {
    max-width: 400px;
    
  }

  .fullCard{
    max-width: 33%;
    color: rgba(0,0,0,.87);
  }
  .Card{
    background: #fff;
    border-color: rgba(0, 0, 0, 0.12) !important;
    border-radius: 8px;
    border: 1px solid;
    padding: 20px;
  }